<nav class="navbar navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="50" >
        <span class="text-uppercase" style="color: rgb(229, 243, 29);" >ngular Quiz</span>
      </a>
    </div>
  </nav>
