<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p>This quiz will contains total 9 quetions. Each question holds 10 points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Answere gives you 10 points</li>
        <li>Incorrect Answere gives you -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refreshing the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: cursive; text-align:center">All the best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg " (click)="startQuiz()" routerLink="/question">Start the Quiz!</button>
</div>
